.idea
/myenv
/data
/d-darts/*
/d-darts/D-DARTS/
__pycache__

__pycache__/
#/cnn/mnist_darts_checkpoint.pth

*.csv
*.pth
*.onnx
*.txt
*.pdf
*.pkl
/mnist_darts_checkpoint-nasnet.pth
/mnist_darts_checkpoint-alt.pth
/data
/bou/*

cnn/resNet/data/*
cnn/mobile_net_v2/data/*
cnn/data/MNIST/raw/
